*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('bg.jpg');
    background-size: cover;
    background-position: top center;
}

.app-wrap{
    min-height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px;
}

header form{
    width: 100%;
    max-width: 300px;
    transition: 0.2s ease-in-out;
}

form input{
    width: 100%;
    outline: none;
    border: none;
}

main{
    text-align: center;
    color: seashell;
}

.city{
    font-size: 50px;
    font-weight: 700;
}

.date{
    font-size: 20px;
    font-weight: 400;
}

.temp{
    font-size: 100px;
    font-weight: 900;
    text-shadow: 2px 5px rgba(0, 0, 0, 0.5);
}

.weather, .high-low{
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    text-shadow: 2px 5px rgba(0, 0, 0, 0.5);
}

.current .temp span{
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}